
            

           
            <% include header.ejs %>
            <h1>book your slot</h1>

            <h1>Book Your Slot</h1>

            
                   
                   
                    

                    <div class="contactUs">
                            <h1>Hurry up!!!</h1>
                            <h2>BOOK YOUR SLOT-($10 per hour)</h2>
                        
                        </div>
                        <div class="BOOK">
                        
                            <form id="BOOK" method = "post" action="#">
                        <input name= "name" type="text" class="form-control" placeholder="Your Name" required><br>
                
                        <input name= "email" type="text" class="form-control" placeholder="Your email" required><br>

                        <input name= "date" type="date" class="form-control"  required><br>

                        <input name= "hours" type="number"   class="form-control" placeholder="Type No:of Hours you want to book the ground" required><br>

                        <input name= "time" type="time"   class="form-control"  required><br>

                        <input name= "Captain1" type="text"   class="form-control" placeholder="Enter Capatain of 1 or Team1 name" required><br>

                        <input name= "Captain2" type="text"   class="form-control" placeholder="Enter Captain of 2 or Team2 name" required><br>
                        
                        <input name= "Accept" type="checkbox"   class="form-control" required><h3>I accept <a href="./terms.html">Terms and Conditions</a></h3>
                        
                        <input type="submit" class="form-control submit" value="Confrim Ground Booking">
                        </form>
                        
                        </div>
                        
                        
                        
                        <script src="book.js"></script>

                        <% include footer.ejs %>