

 
        

           
        <% include header.ejs %>
                    
        <h1>Contact Us</h1>        
<div class="contactMe">
    <h1>Say Hello!!!!</h1>
    <h2>Any Queries?</h2>

</div>
<div class="contact-form">

    <form id="contact-form" method ="post" action="#">
<input name= "name" type="text" class="form-control" placeholder="Your Name" required><br>

<input name= "email" type="text" class="form-control" placeholder="Your email" required><br>

<textarea name="message" class="form-control" placeholder="Message" rows="4" required></textarea><br>

<input type="submit" class="form-control submit" value="Send Message">
</form>



</div>

<footer>
    <a href="https://github.com/lohithabhethalam">
        <img src="GitHub.png"  width="72" height="25" alt="github"/>
</a>
<a href="https://bitbucket.org/lohithabhethalam/">
    <img src="bit.png"  width="72" height="25" alt="bitbucket"/>
</a>
<a href="https://www.linkedin.com/in/lohitha-lohi-522571159/">
    <img src="linked.png"  width="72" height="25" alt="linkedin"/>
</a>
        
</footer>

<% include footer.ejs %>