<!doctype html>
<html lang="en">
    <head>
        <title>VHR Cricket Grounds-Home</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/contact.css">
        <link rel="stylesheet" href="css/book.css">

    </head>
    <body>
<nav>

           
    <p>
            <a href="./index">Home</a> |  <a href="./book">Book Your Ground</a> | <a href ="./contact">ContactMe</a>
    </p>

</nav>
       