
        <% include header.ejs %>

<h1>About Me</h1>



<h2 style='display:none;'>Dummy tag</h2>
<div>
<section id='present-section'>
<h2 class='section-header'>Present</h2>
<p>I am a new student of Northwest Missouri State University from fall 2018 working on my masters of applied computer science. </p></section>
<section id='past-section'>
<h2 class='section-header'>Past</h2>
<p>I recently completed my undergraduate program in electronics and communication under JNTU University from India.
 </p></section>
<section id='future-section'>
<h2 class='section-header'>Dream Job</h2>
<p >As I am an electronics student, I am interested in areas like IoT(Internet of Things) as it is a blend of electronics and computer sciences.</p></section>
</div>

        <div class="container">
        <img src="IMG-3120.JPG" class="img-circle" width="150" height="150" alt="propic"/><br><br>
        </div>
        <h2 id="name">Lohitha Bhethalam, Manager(VHR Cricket Grounds)</h2>
        <br>
        <br>
        <h2>Stadium Video</h2>
<video width="500" height="500" src="india.mp4" controls id ="vid">


</video><br><br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/h6yN3lo5_Rw" allow="autoplay; encrypted-media" allowfullscreen></iframe>



<footer >copyrights@A01 Group 24</footer>
    
<% include footer.ejs %>